:root{
  --btn-outline-aqua-border-color: rgb(0, 131, 143);
  --btn-outline-aqua-hover-background-color: rgb(178, 235, 242);
  --btn-outline-aqua-hover-text-color: rgb(0, 96, 100);
}
.body{
  background-color: aquamarine;
}

.App {
  text-align: center;
  margin-top: 100px;

  
}

.xyz{
  width:60% !important;
  margin-left: 130px !important;
}

 .ekle{
  float:left !important;
  margin-left: 130px;
 }
 .btn-outline-aqua {
  width: 382px;
  height: 50px;
  border: 2px solid var(--btn-outline-aqua-border-color);
  border-radius: 5px;
  transition: background-color 0.5s;
  color: var(--btn-outline-aqua-border-color);
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-outline-aqua:hover {
  background-color: var(--btn-outline-aqua-hover-background-color);
  color: var(--btn-outline-aqua-hover-text-color);
}
.silbuton{
  width: 70px !important;
  height: 25px !important;
}

.Listele{
  list-style:none;
}

.main {
  display: flex;
}
.content {
  margin-left:0px;
  width:100%;
}

.baslik{
  margin-left: 200px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  color:var(--btn-outline-aqua-border-color);
  text-shadow: 1px 1px 0px var(--btn-outline-aqua-hover-text-color);
  font-size: 30px;
  margin-bottom:50px;
  font-weight: bolder;
}
.tablobaslik{
  margin-left:280px !important;
}
.list{
  float:right
}

.table-striped {
  float:right;
  border: 1px solid #000;
  border-collapse: collapse;
  width: calc(100% - 100px);
  margin: 83px;
  margin-top: 0px;
}
.table-striped th,
.table-striped td,
.table-striped tr {
  border: 1px solid #000;
  vertical-align: center;
  text-align: center;
  font-size: 14px;
  width: 200px;
  height: 50px;
}
.table-striped tr:nth-child(even) {
  background-color: var(--btn-outline-aqua-hover-background-color); 
}
.table-striped tr:nth-child(odd) {
  background-color: var(--btn-outline-aqua-border-color);
}

